@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist';
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #121212;
}

.container{
    background-color: #1E1E1E;
    height: 260px;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    transition: 0.2s;
}

.container.active{
    height: 500px;
}

#qr-header{
    text-align: center;
}

#qr-header h1{
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 10px;
    color: #FFFFFF;
}

#qr-header p{
    font-size: 0.9rem;
    color: #E0E0E0;
}

#qr-form{
    margin: 20px 15px;
}

#qr-form input, #qr-form button{
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
}

#qr-form input{
    background-color: #2C2C2C;
    color: #CCCCCC;
    padding: 10px 15px;
    transition: 0.5s;
}

#qr-form input:focus{
    outline: none;
    box-shadow: 0 0 4px #00BFFF;
}

#qr-form input:hover{
    background-color: #3b3b3b;
}

#qr-form button{
    background-color: #00BFFF;
    color: #FFFFFF;
    font-size: 1.2rem;
    margin-top: 20px;
    transition: 0.4s;
    cursor: pointer;
}

#qr-form button:hover{
    background-color: #0089bc;
    color: #CCC;
}


#qr-code{
    display: flex;
    opacity: 0;
    border: 1px solid #121212;
    padding: 30px 0;
    margin: 20px 15px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    transition: 0.5s;
}

.container.active #qr-code{
    opacity: 1;
}

body::before,
body::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(circle, #00BFFF 0%, transparent 70%);
    z-index: 0;
    filter: blur(100px);
    opacity: 0.4;
}

body::before {
    bottom: 0;
    left: 0;
    transform: translate(-30%, 30%);
}

body::after {
    top: 0;
    right: 0;
    transform: translate(30%, -30%);
}

body {
    position: relative;
    overflow: hidden;
}